
/* Style the header */
.header {
  background-color: #333333;
  color: #ffffff;
  /* Title should be Monotype Corsiva but not she if it is a licensed Font */
  font-family:  Arial, Helvetica, sans-serif;
  Font-size:1.5rem;
  padding: 1px;
  text-align: center;
}

/* Style for main body */
body{
  background-color: aquamarine;
}

/* Style for What is Popley Matters*/
.aboutpm {
  display:flexbox;
  flex-wrap: wrap;
  text-align: justify;
  max-width: 1200px;
  margin:50px auto;
  background-color: #cccccc;
  padding: 20px;
  border-radius:15px;
  border: 4px solid green;
  box-shadow: 5px 10px grey;
}

.aboutpm h2{
  text-decoration: underline;
  text-align:center;
  font-size:2rem;
}

.aboutheader a {
  position: fixed;
  top: 50%;
  left: 50%;
  }


/* Style the top navigation bar*/
.topnav {
  display:flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}
.topnav a {

  list-style: none;
  width:100px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #333333;;
}

/* Create three unequal columns that floats next to each other */
.row{
  display:flex;
  justify-content: center ;
  padding:20px;
  max-width: 1200px;
  margin:50px auto;
  background-color: #cccccc;
  border-radius:15px;
  border: 4px solid green;
  box-shadow: 5px 10px grey;

}
.column {
  text-align:center;
  padding: 10px;
  margin: auto;
  width: 30%;
  background-color: #cccccc;
  border-radius:15px;
  border: 4px solid green;
  box-shadow: 5px 10px grey;

}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.button {
  background-color: #777777;
  color: white;
  padding: 15px 35px;
  text-decoration:none;
  display:inline-block;
  font-size: 16px;
  text-align: center;
  width: 25%;
  cursor: pointer;
  border: 1px;
  border-radius: 5dvi;
  border: 4px solid green;
  box-shadow: 5px 5px #333333;
}

.button:hover { 
  background-color:red;

}
.displayindesign{
  height:850px;
  width:1200px;
  display: flex;
  margin: 0px auto;
}
.button:active {
  background-color: RED;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}    

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.contact-form-container {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 4px solid green;
  box-shadow: 5px 10px grey;
  margin:50px auto;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 2rem;
}

/* Pseudo-elements for Email,Facebook and Phone Labels */
/* Add ✉️ and 📞 icons before the labels and Facebook after */
.phone-label::before{content: "📞";}
.email-label::before{content: "✉️";}
h1::after {
  content:"F"
}

/* Styling the Terms and Conditions Link On Contact Page*/
.terms-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}
/* Add visited states for the link on contact Page*/
.terms-link:visited {
  color: purple;
}
/* Add hover states for the link pn Contact Page */
.terms-link:hover {
  color: #4cae4c;
}
/* Style the footer for whole website*/
.footer {
  background-color: #333333;
  Color:White;
  padding: 2px;
  text-align: center;
}